<template>
	<lightning-card icon-name="custom:custom19" title='CSV File Read'>
		<div style="margin-left: 3%">
			<lightning-file-upload accept={acceptedCSVFormats} label="Attach receipt" multiple="multiple"
				onuploadfinished={uploadFileHandler} record-id={recordId}></lightning-file-upload>
		</div>


		<div if:true={error}>
			{error}
		</div><br/>

		<div if:true={data}>
			<lightning-datatable columns={columnsAccount} data={data} hide-checkbox-column="true" key-field="id">
			</lightning-datatable>
		</div>

	</lightning-card>
</template>