<template>
	<div class="image slds-m-right_small">
		<lightning-button variant="brand" label="showImage" title="titleName" onclick={handleClick}></lightning-button>
		<figure class="slds-p-around_xx-small slds-border_top slds-border_right slds-border_bottom slds-border_left">
		</figure>
		<div class="slds-size_1-of-4">
			<lightning-carousel>
				<template for:each={arraydata} for:item="object">
					<lightning-carousel-image key={object.UrlImage} src={object.UrlImage}
                    header = {object.id}
                    description = "First card description."
						alternative-text="First card accessible description.">
					</lightning-carousel-image>
					<!--	<img key={object.UrlImage} src={object.UrlImage}> -->
				</template>
			</lightning-carousel>
		</div>
	</div>
</template>