<template>
    <lightning-button variant="brand"
       label="What is Modal/PopUp in LWC?"
       title="What is Modal/PopUp in LWC?"
       onclick={openModal}
       class="slds-m-left_x-small">
    </lightning-button>
    <template if:true={isModalOpen}>
     
         <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>

                
    <lightning-progress-indicator current-step="step-3" type="path" variant="base">
        <template for:each={steps} for:item="step">
            <lightning-progress-step label={step.label} value={step.value} key={step.label}></lightning-progress-step>
        </template>
    </lightning-progress-indicator>
    </header>
    <div class="slds-box">
    <template if:true={flag1}>
    <lightning-record-edit-form
        object-api-name="Opportunity"
        onsuccess={handleSuccess}
    >
        <lightning-messages></lightning-messages>
        <div class="slds-m-around_medium">
            <lightning-input-field
                field-name="Id"
                value={opportunityId}
            ></lightning-input-field>
            <lightning-input-field field-name="Name"></lightning-input-field>
            <lightning-input-field field-name="StageName"></lightning-input-field>
            <lightning-input-field field-name="CloseDate"></lightning-input-field>
            <div class="slds-m-top_medium">
                <lightning-button
                    variant="brand"
                    type="submit"
                    name="save"
                    label="Create Opportunity"
                >
                </lightning-button>
            </div>
        </div>
    </lightning-record-edit-form>
    </template>
    

        <template if:true={flag2}>
            <lightning-record-edit-form
        object-api-name="Product2"
        onsuccess={handleSuccess1}
    >
        <lightning-messages></lightning-messages>
        <div class="slds-m-around_medium">
            <lightning-input-field
                field-name="Id"
                value={productId}
            ></lightning-input-field>
            <lightning-input-field field-name="Name"></lightning-input-field>
            <div class="slds-m-top_medium">
                <lightning-button
                    variant="brand"
                    type="submit"
                    name="save"
                    label="Create Product"
                >
                </lightning-button>
            </div>
        </div>
    </lightning-record-edit-form>
        </template>

        <template if:true={flag3}>
            success
        </template>
    </div>
         <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">OK</button>
                </footer>
            </div>
                </section>
       
</template>
     <!--   <template if:true={step1}>
        <lightning-button variant="brand" label="Next" title="titleName" onclick={handleClick}></lightning-button>
        </template> -->
</template>