<template>
	<template if:true={card1Flag}>
		<div class="slds-align_absolute-center">
		<lightning-card variant="Narrow" title="Customer details" icon-name="standard:account">
			<lightning-button-icon icon-name="utility:down" variant="border-filled" alternative-text="Show More"
				slot="actions"></lightning-button-icon>
			<lightning-input type="text" variant="standard" name="CustomerName" label="Customer Name"
				value={customerName} placeholder="Enter Customer Name here..." onchange={allChanges}></lightning-input>
			<lightning-input type="text" variant="standard" name="Email" label="Email" value={customerEmail}
				placeholder="Type Email here..." onchange={allChanges}></lightning-input>
			<lightning-input type="number" variant="standard" name="Phone" label="Phone" value={customerPhone}
				placeholder="Enter Phone number here..." onchange={allChanges}></lightning-input>
			<lightning-button variant="brand" label="Next" title="titleName" onclick={submitClick}></lightning-button>
		</lightning-card>
		</div>
	</template>
	

	<template if:true={card2Flag}>
		<div class="slds-align_absolute-center">
		<lightning-card variant="Narrow" title="Card details" icon-name="standard:account">
			<lightning-button-icon icon-name="utility:down" variant="border-filled" alternative-text="Show More"
				slot="actions"></lightning-button-icon>
			<lightning-input type="number" variant="standard" name="CustomerCardNumber" label="Customer Card Number"
				value={customerCardNumber} placeholder="Enter Customer Name here..." onchange={allChanges}>
			</lightning-input>
			<lightning-input type="date" variant="standard" name="expireDate" label="Expire Date"
				value={customerCardExpireDate} placeholder="Select Expire Date..." onchange={allChanges}>
			</lightning-input>
			<lightning-input type="number" variant="standard" name="cardCVC" label="Card CVC" value={customerCardCVC}
				placeholder="Enter CVC here..." onchange={allChanges}></lightning-input>
			<lightning-button variant="brand" label="Submit" title="titleName" onclick={submitCardClick}>
			</lightning-button>
		</lightning-card>
		</div>
	</template>
</template>