<template>
    <p>Choose your monster's colors:</p>

<div>
    <input type="color" id="head" name="head"
           value={flag} onchange={handleChange}>
    this is color number---->{flag}
    <lightning-input type="text" variant="standard" name="Height" label="Height" placeholder="Enter Height..." value={height} onchange={changeFun}></lightning-input>
    <lightning-input type="text" variant="standard" name="Width" label="Width" placeholder="Enter Width..." value={width} onchange={changeFun}></lightning-input>
<lightning-button variant="base" label="submit" title="titleName" onclick={handleClick}></lightning-button>
<lightning-file-upload
    label="Attach receipt"
    name="fileUploader"
    accept=".csv,.doc,.xsl,.pdf,.png,.jpg"
    record-id="0035j00000BHtqtAAD"
    onuploadfinished={handleUploadFinished}
    multiple>
</lightning-file-upload>
</div>

</template>