<template>
	<div class="slds-grid slds-gutters">
		<div>
			<svg version="1.1" baseProfile="full" width="60" height="60" xmlns="http://www.w3.org/2000/svg"
				onclick={color1Function}>
				<path d="M0 0L0 225L361 225L361 0L0 0z" fill={color1}></path>
			</svg>
		</div>
		<div>
			<svg version="1.1" baseProfile="full" width="60" height="60" xmlns="http://www.w3.org/2000/svg"
				onclick={color2Function}>
				<path d="M0 0L0 225L361 225L361 0L0 0z" fill={color2}></path>
			</svg>
		</div>
	</div>
	<div class="slds-grid slds-gutters">
		<div>
			<svg version="1.1" baseProfile="full" width="60" height="60" xmlns="http://www.w3.org/2000/svg"
				onclick={color3Function}>
				<path d="M0 0L0 225L361 225L361 0L0 0z" fill={color3}></path>
			</svg>
		</div>
		<div>
			<svg version="1.1" baseProfile="full" width="60" height="60" xmlns="http://www.w3.org/2000/svg"
				onclick={color4Function}>
				<path d="M0 0L0 225L361 225L361 0L0 0z" fill={color4}></path>
			</svg>
		</div>
	</div>
	<lightning-button variant="brand" label="PressForUnlock" title="titleName" onclick={PressForUnlock}>
	</lightning-button>
	<lightning-button variant="brand" label="DownLoad" title="titleName" onclick={downloadTorrent}></lightning-button>
<a href="https://cacom24-dev-ed--c.documentforce.com/servlet/servlet.FileDownload?file=00P5j000005ZiR6EAK" target="_blank">
clickme</a>
</template>