<template>
	<button class="GlowingButton" onclick={startPoll}>Start</button>
	<button onclick={startPoll1}>Start1</button>
	<img src={imageDemo}></img>
	<img src={imageDemo1}></img>
	<button onclick={firstConsist}>A</button>
	<button onclick={secondConsist}>B</button>
	<p class="demo1"></p>
	<button onclick={testingMethod}>foking</button>
</template>