<template>
	<div class="slds-grid slds-gutters">
		<div class='remoteIncrease slds-m-top_large'>
			<lightning-icon class="slds-m-left_xx-small" variant="success" icon-name="utility:dash"
				alternative-text="decrease" title="decrease" size="x-small"></lightning-icon>
		</div>
		<div class="remote">
			<lightning-icon class="slds-m-left_large" variant="success" icon-name="utility:chevronup"
				alternative-text="chevronup" title="up" size="small"></lightning-icon>
			<lightning-icon variant="success" icon-name="utility:chevronleft" alternative-text="chevronleft"
				title="left" size="small">
			</lightning-icon>
			<lightning-icon class="leftAdjust" variant="success" icon-name="utility:chevronright"
				alternative-text="chevronright" title="right" size="small"></lightning-icon>
			<lightning-icon class="slds-m-left_large" variant="success" icon-name="utility:chevrondown"
				alternative-text="chevrondown" title="down" size="small"></lightning-icon>
		</div>
		<div class='remoteIncrease slds-m-top_large'>
			<lightning-icon class="slds-m-left_xx-small" variant="success" icon-name="utility:add"
				alternative-text="increase" title="increase" size="x-small"></lightning-icon>
		</div>
	</div>
</template>