.remote{
	  height: 70px;
  width: 70px;
  background-color:#000000;
  border-radius: 50%;
}
.leftAdjust{
	margin-left:22px;
}
.remoteIncrease{
	height: 25px;
  width: 25px;
  background-color:#000000;
  border-radius: 50%;
}