<template>
	<lightning-input type="text" variant="standard" name="ImageName" label="Search" placeholder="Search Image..."
		onchange={enterNameFun} value={imageName}></lightning-input>
	<lightning-button variant="brand" label="Search Image" title="titleName" onclick={searchClick}></lightning-button>
	<lightning-card class="slds-size_1-of-4" variant="Narrow" title={imageName} icon-name="doctype:image">
		<lightning-button-icon icon-name="utility:down" variant="border-filled" alternative-text="Show More"
			slot="actions"></lightning-button-icon>
		<div class="slds-grid">
			<template for:each={listImageUrl} for:item="object">
				<div class="slds-box" key={object.value}>
					<img key={object.value} src={object.value}>
    </div>
			</template>
		</div>
		<div class="slds-grid">
			<template for:each={listImageUrl2} for:item="object">
				<div class="slds-box" key={object.value}>
					<img key={object.value} src={object.value}>
    </div>
			</template>
		</div>
	</lightning-card>

</template>