<template>
	<div class="slds-box">
		<b>  About GammaDark- How to download-</b> <b onclick={feedbackFUN}> Feedback-</b> <b> Careers</b>
		<p><b>  © 2022 GammaDark. For DMCA, Contact Us </b></p>
	</div>
	<!----------------------------------Feedback modal------------------------------------------------------->
	<template if:true={isFeedBackModal}>
		<div class="FeedbackModal">
			<!-- Modal/Popup Box LWC starts here -->
			<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
				aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
				<div class="slds-modal__container">
					<!-- Modal/Popup Box LWC header here -->
					<header class="slds-modal__header">
						<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="large" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
						<h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Contact Us
						</h2>
					</header>
					<!-- Modal/Popup Box LWC body starts here -->
					<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
						<div class="slds-grid slds-wrap slds-m-bottom_medium">
							<lightning-input type="text" variant="standard" name="name" label=""
								placeholder="Enter Name here..." onchange={textFun}></lightning-input>
							<lightning-input class="slds-m-left_xx-large" type="text" variant="standard" name="email"
								label="" placeholder="Enter E-mail here..." onchange={textFun}></lightning-input>
							<lightning-input class="slds-m-left_xx-large" type="text" variant="standard" name="subject"
								label="" placeholder="Enter Subject here..." onchange={textFun}></lightning-input>
						</div>
						<lightning-input-rich-text value={myVal} onchange={richTextFUN}>
						</lightning-input-rich-text>


					</div>
					<!-- Modal/Popup Box LWC footer starts here -->
					<footer class="slds-modal__footer">
						<button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
						<button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">Send</button>
					</footer>
				</div>
			</section>
			<div class="slds-backdrop slds-backdrop_open"></div>
		</div>
	</template>
</template>