.slds-box{
	background-color: black;
	color: white;
}
.FeedbackModal
{
--slds-c-modal-content-color-background:black;
--slds-c-modal-color-border:white;
--slds-c-modal-header-color-background:black;
--slds-c-modal-header-text-color:white;
--slds-c-modal-footer-color-background:black;
}