.RangerGreen{
	background-color: #4E4934;
	height: 20px;
	width: 20px;
	  border-radius: 50px / 50px;
}
.NavyBlue{
	background-color: #494c6b;
	height: 20px;
	width: 20px;
	border-radius: 50px / 50px;
}
.BattleshipGray{
	background-color: #6f7476;
	height: 20px;
	width: 20px;
	border-radius: 50px / 50px;
}
.BlackCovertIRCovert{
	background-color: #000000;
	height: 20px;
	width: 20px;
	border-radius: 50px / 50px;
}
.sizeDIV{
	height: 50px;
	width: 50px;
}
@media all and (max-width:767px) {
 .firstclass{
        width: 100%; 
         display: block;
    }
}