<template>
	<div class="slds-m-top_x-small">
		<div class="slds-box slds-box_x-small slds-size_1-of-5">
			<div class="firstclass slds-grid slds-gutters">
				<div class="slds-col slds-size_8-of-12">
					<lightning-button variant="Nutral" label="Exterior Color" title="titleName" onclick={exteriorClick}>
					</lightning-button>
				</div>
				<div class="slds-col slds-size_11-of-12">
					<svg version="1.1" baseProfile="full" width="30" height="30" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 0L0 225L361 225L361 0L0 0z" fill={col}></path>
					</svg>
				</div>
			</div>

			<div class="slds-m-top_x-small">
				<div class="sizeDIV">
					<template if:true={showColorFlag}>
						<div class="slds-grid slds-gutters">
							<div class="slds-col">
								<div class="RangerGreen" onclick={RangerGreenFunction}>
								</div>
							</div>
							<div class="slds-col">
								<div class="NavyBlue" onclick={NavyBlueFunction}>
								</div>
							</div>
							<div class="slds-col">
								<div class="BattleshipGray" onclick={BattleshipGrayFunction}>
								</div>
							</div>
							<div class="slds-col">
								<div class="BlackCovertIRCovert" onclick={blackCovertIRCovertFunction}>
								</div>
							</div>
						</div>
					</template>

				</div>
			</div>

		</div>
	</div>
</template>