<template>
	<lightning-input type="text" variant="standard" name="name" label="label" placeholder="type here..."
		value={valInstance} onchange={fun}></lightning-input>



	<lightning-datatable key-field="Id" data={dataList} show-row-number-column row-number-offset={rowOffset}
		hide-checkbox-column columns={columnsList} onrowaction={handleRowAction} onsave={handleSaveEvent}
        draft-value={draftvalue}>
	</lightning-datatable>
</template>