.crimson{
	background-color: #DC143C;
	height: 20px;
	width: 20px;
	  border-radius: 50px / 50px;
}
.yellow{
	background-color: #FFFF00;
	height: 20px;
	width: 20px;
	border-radius: 50px / 50px;
}
.palevioletred{
	background-color: #DB7093;
	height: 20px;
	width: 20px;
	border-radius: 50px / 50px;
}
.mediumblue{
	background-color: #0000CD;
	height: 20px;
	width: 20px;
	border-radius: 50px / 50px;
}
.lightseagreen{
	background-color: #20B2AA;
	height: 20px;
	width: 20px;
	border-radius: 50px / 50px;
}
.black{
	background-color: #000000;
	height: 20px;
	width: 20px;
	border-radius: 50px / 50px;
}
.white{
	background-color: #FFFFFF;
	height: 20px;
	width: 20px;
	border-radius: 50px / 50px;
}
.blue{
	background-color: #0000FF;
	height: 20px;
	width: 20px;
	border-radius: 50px / 50px;
}
.green{
	background-color: #008000;
	height: 20px;
	width: 20px;
	border-radius: 50px / 50px;
}
.red{
	background-color: #FF0000;
	height: 20px;
	width: 20px;
	border-radius: 50px / 50px;
}