<template>
	<div class="slds-m-top_x-small">
		<div class="slds-box slds-box_x-small slds-size_1-of-4">
			<div class="slds-grid slds-gutters">
				<div class="slds-col slds-size_8-of-12">
					<lightning-button variant="Nutral" label="Base Material" title="titleName" onclick={exteriorClick}>
					</lightning-button>
				</div>
				<div class="slds-col slds-size_11-of-12">
					<svg version="1.1" baseProfile="full" width="30" height="30" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 0L0 225L361 225L361 0L0 0z" fill={col}></path>
					</svg>
				</div>
			</div>

			<div class="slds-m-top_x-small">

				<template if:true={showColorFlag}>
					<div class="slds-box">

						<b>Solid Fill PVC</b>
						<div class="slds-grid slds-gutters">

							<div class="slds-col">
								<div class="crimson" onclick={crimsonFunction}>
								</div>
							</div>
							<div class="slds-col">
								<div class="yellow" onclick={yellowFunction}>
								</div>
							</div>
							<div class="slds-col">
								<div class="palevioletred" onclick={palevioletredFunction}>
								</div>
							</div>
							<div class="slds-col">
								<div class="mediumblue" onclick={mediumblueFunction}>
								</div>
							</div>
							<div class="slds-col">
								<div class="lightseagreen" onclick={lightseagreenFunction}>
								</div>
							</div>
							<div class="slds-col">
								<div class="black" onclick={blackFunction}>
								</div>
							</div>
						</div>
					</div>
				</template>

				<div class="slds-m-top_xx-small">
					<template if:true={showColorFlag}>
						<div class="slds-box">

							<b>HiVis SOLAS</b>
							<div class="slds-grid slds-gutters">

								<div class="slds-col">
									<div class="white" onclick={whiteFunction}>
									</div>
								</div>
								<div class="slds-col">
									<div class="blue" onclick={blueFunction}>
									</div>
								</div>
								<div class="slds-col">
									<div class="yellow" onclick={yellowFunction}>
									</div>
								</div>
								<div class="slds-col">
									<div class="green" onclick={greenFunction}>
									</div>
								</div>
								<div class="slds-col">
									<div class="red" onclick={redFunction}>
									</div>
								</div>
								<div class="slds-col">
									<div class="black" onclick={blackFunction}>
									</div>
								</div>
							</div>
						</div>
					</template>
				</div>



			</div>

		</div>
	</div>
</template>