<template>
	<lightning-input type="number" variant="standard" name="userVal" label="Number of fields" placeholder="type here..."
		onchange={getUserval}></lightning-input>

	<template for:each={val} for:item="ins">
		<div key={ins}>
			<lightning-input key={val} type="number" variant="standard" name={ins} placeholder="type here..."
				value={val1} onchange={onchangeFun}>
			</lightning-input>
		</div>
	</template>
	<br>
	<lightning-button variant="brand" label="addFun" title="titleName" onclick={handleClick}></lightning-button>
	<lightning-button variant="brand" label="subFun" title="titleName" onclick={handleClick}></lightning-button>
	<lightning-button variant="brand" label="multiFun" title="titleName" onclick={handleClick}></lightning-button>
	<lightning-button variant="brand" label="dividFun" title="titleName" onclick={handleClick}></lightning-button>
	<br>
	<strong>{result}</strong>
</template>