.dummy{
	color : black;
}
h1{
	    color: white;
    font-size: 173%;
    text-align: center;
}
figure {
  position: relative
}
figcaption {
  position: absolute;
  width: 200px;
  line-height: 150px;
  text-align: center;
  left: 0;
  top: 0;
  text-shadow: 0 0 1px white;
  font-weight:bold;
}
.mainNav{
  background-color: black;
  color: white;
}