<template>
	<div class="slds-box slds-grid slds-wrap mainNav">
		<div class="navClass slds-m-right_xx-large slds-box slds-size_1-of-12">
			<img src={logo} alt="logo">
			</div>
			<div class="navClass slds-m-top_large slds-m-left_xx-large slds-m-right_xx-large">
				<h1 onclick={homeFunction}>HOME</h1>
			</div>
			<div class="navClass slds-m-top_large slds-m-left_xx-large slds-m-right_xx-large">
				<h1 href="About.html">About</h1>
			</div>
			<div class="navClass slds-m-top_large slds-m-left_xx-large slds-m-right_xx-large">
				<h1 onclick={movieClick}>Top Seeds</h1>
			</div>
			<div class="navClass slds-m-top_large slds-m-left_xx-large slds-m-right_xx-large">
				<h1 onclick={threeDmovieClick}>3D Movies</h1>
			</div>
		<div class="navClass slds-m-top_large slds-m-left_xx-large">
			<input type="text" name="search" id="search" placeholder="Search" onchange={textSearchFun} value={searchMovieVar}>
		</div>
		<div class="navClass slds-m-top_large slds-m-left_small slds-m-right_xx-large slds-box">
			Search
		</div>
	</div>
	<div class="slds-grid slds-wrap">
		<div class="slds-box slds-size_1-of-4">
			<h1> ACTION </h1>
			<img src={actionPoster}></img>
    </div>
			<div class="slds-box slds-size_1-of-4">
				<h1> COMEDY </h1>
				<img src={comedyPoster}>
    </div>
				<div class="slds-box slds-size_1-of-4">
					<h1> THRILLER </h1>
					<img src={thrillerPoster}>
    </div>
					<div class="slds-box slds-size_1-of-4">
						<h1> CRIME </h1>
						<img src={crimePoster}>
    </div>
						<div class="slds-box slds-size_1-of-4">
							<h1> BIOGRAPHY </h1>
							<img src={biographyPoster}>
    </div>
							<div class="slds-box slds-size_1-of-4">
								<h1> DRAMA </h1>
								<img src={dramaPoster}>
    </div>
								<div class="slds-box slds-size_1-of-4">
									<h1> HORROR </h1>
									<img src={horrorPoster}>
    </div>
									<div class="slds-box slds-size_1-of-4">
										<h1> SCI-FI </h1>
										<img src={scifiPoster}>
    </div>
										<div class="slds-box slds-size_1-of-4">
											<h1> ADVENTURE </h1>
											<img src={adventurePoster}>
    </div>
											<div class="slds-box slds-size_1-of-4">
												<h1> ROMANCE </h1>
												<img src={romancePoster}>
    </div>
	<figure class="slds-box slds-size_1-of-4">
		<h1> ROMANCE </h1>
  <img src={romancePoster}>
  <figcaption>some text</figcaption>
</figure>
	
											</div>
</template>