<apex:page standardController="LwcObject__c" >
    <apex:form >
        <apex:pageBlock title="Edit Contact">
            <apex:pageBlockSection columns="1">
                <apex:inputField value="{!LwcObject__c.Name}"/>
                <!--    <apex:inputField value="{!Contact.LastName}"/>
<apex:inputField value="{!Contact.Email}"/>
<apex:inputField value="{!Contact.Birthdate}"/> -->
            </apex:pageBlockSection>
            
        </apex:pageBlock>
        
        <apex:commandButton action="{!save}" value="Save"/>
        <apex:pageBlock title="A Section Title">
             <apex:pageBlockSection columns="3" title="b Section Title">
                 three
            </apex:pageBlockSection>
            hello world
        </apex:pageBlock>
        <div>
            class div
        </div>
    </apex:form>
</apex:page>