<template>
	<!-- lightning button for open modal window -->
	<lightning-button variant="brand" label="Create OpportunityLineItem" title="What is Modal/PopUp in LWC?"
		onclick={openModal} class="slds-m-left_x-small">
	</lightning-button>
	<!--Use template if:true to display/hide popup based on isModalOpen value-->
	<template if:true={isModalOpen}>
		<!-- Modal/Popup Box LWC starts here -->
		<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
			aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
			<div class="slds-modal__container">
				<!-- Modal/Popup Box LWC header here -->
				<header class="slds-modal__header">
					<h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">LWC OpportunityLineItem
						creator</h2>
				</header>
				<!-- Modal/Popup Box LWC body starts here -->
				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
					<lightning-progress-indicator type="path" current-step={selectedStep}>
						<lightning-progress-step label="Creating Opportunity" onstepfocus={selectStep1} value="Step1"
							onclick={stepFun}>
						</lightning-progress-step>
						<lightning-progress-step label="Creating Product" onstepfocus={selectStep2} value="Step2"
							onclick={stepFun}>
						</lightning-progress-step>
						<lightning-progress-step label="Creating OpportunityLineItem" onstepfocus={selectStep3}
							value="Step3" onclick={stepFun}>
						</lightning-progress-step>
						<lightning-progress-step label="Finish" onstepfocus={selectStep4} value="Step4"
							onclick={stepFun}>
						</lightning-progress-step>
					</lightning-progress-indicator>
					<template if:true={flag1}>
						<lightning-input type="text" variant="standard" name="oppName" label="Enter Opportunity Name"
							placeholder="type here..." value={oppName} class="validate" onchange={handleChange}
							required></lightning-input>
						<lightning-combobox name="progress" label="Status" value={oppStageName}
							placeholder="Select Progress" options={options} class="validate" required
							onchange={handleChange}></lightning-combobox>
						<lightning-input type="date" variant="standard" name="oppDate"
							label="Enter Opportunity CloseDate" placeholder="type here..." value={oppDate}
							onchange={handleChange} class="validate" required></lightning-input>
					</template>
					<template if:true={flag2}>
						<lightning-input type="text" variant="standard" name="proName" label="Enter Product name"
							placeholder="type here..." value={proName} onchange={handleChange} class="validate"
							required></lightning-input>
					</template>
					<template if:true={flag3}>
						<lightning-input type="text" variant="standard" name="proPrice" label="Enter Unit price"
							placeholder="type here..." value={proPrice} onchange={handleChange} class="validate"
							required></lightning-input>
						<lightning-input type="text" variant="standard" name="proQuantity" label="Enter Quantity"
							placeholder="type here..." value={proQuantity} onchange={handleChange} class="validate"
							required></lightning-input>
					</template>
					<template if:true={flag4}>
						<b>ARE YOU SURE TO FINISH AND YOU WANNA GO BACK !</b>
					</template>
				</div>
				<!-- Modal/Popup Box LWC footer starts here -->
				<footer class="slds-modal__footer">
					<div class="slds-m-vertical_medium">
						<template if:true={keyflag}>
							<template if:false={flag1}>
								<lightning-button label="Back" class="slds-m-left_x-small" onclick={handlePrev}>
								</lightning-button>
							</template>
						</template>
						<template if:false={isSelectStep4}>
							<lightning-button variant="brand" class="slds-m-left_x-small" label="Next"
								onclick={handleNext}></lightning-button>
						</template>
						<template if:true={isSelectStep4}>
							<lightning-button variant="brand" class="slds-m-left_x-small" label="Finish"
								onclick={handleFinish}></lightning-button>
						</template>
					</div>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>
</template>