<template>
	<!-- lightning button for open modal window -->
	<lightning-button variant="Neutral" label="Add Products" title="What is Modal/PopUp in LWC?" onclick={openModal}
		class="slds-m-left_x-small">
	</lightning-button>
	<!--Use template if:true to display/hide popup based on isModalOpen value-->
	<template if:true={isModalOpen}>
		<!-- Modal/Popup Box LWC starts here -->
		<section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_large"
			aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
			<div class="slds-modal__container">

				<!-- Modal/Popup Box LWC header here -->
				<header class="slds-modal__header">
					<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
					<h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Add Products</h2>
					<h5 class="slds-text-body_small">Price Book: Standard Price Book</h5>
				</header>
				<!-- Modal/Popup Box LWC body starts here -->
				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
					<div class="slds-m-around_medium">
						<lightning-input type="search" onchange={handleKeyChange} class="slds-m-bottom_small" label=""
							placeholder="Search Products...">
						</lightning-input>
						<template if:true={warningflag}>
							<div class="warning">
								You can add only 50 items at a time. To add more, first finish up with these items.
							</div>
						</template>
						<a onclick={showSelectedRecords}> Show Selected ({rawCount}) </a>
						<template if:true={contacts}>
							<div style="height: 300px;">
								<lightning-datatable key-field="Id" data={contacts} onclick={visibleNext}
									columns={columns}>
								</lightning-datatable>
							</div>
						</template>
						<template if:true={error}>
							{error}>
						</template>
					</div>
				</div>
				<!-- Modal/Popup Box LWC footer starts here -->
				<footer class="slds-modal__footer">
					<button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
					<template if:true={nextFlag}>
						<button class="slds-button slds-button_brand" onclick={getSelectedRec} title="Next">Next</button>
					</template>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>





	<template if:true={isModalOpen2}>
		<!-- Modal/Popup Box LWC starts here -->
		<section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_large"
			aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
			<div class="slds-modal__container">

				<!-- Modal/Popup Box LWC header here -->
				<header class="slds-modal__header">
					<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
					<h2 id="modal-heading-03" class="slds-text-heading_medium slds-hyphenate">Edit Selected Quote Line
						Items</h2>
				</header>
				<!-- Modal/Popup Box LWC body starts here -->
				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
					<div class="slds-m-around_medium">
						<!--    <template if:true = {editSelectedQuoteLineItems}> -->
						<div style="height: 300px;">
							<lightning-datatable key-field="Id" data={editSelectedQuoteLineItems} onsave={tempSave}
								columns={columnsModal2} hide-checkbox-column="true" show-row-number-column="true">
							</lightning-datatable>
						</div>
						<!--      </template> -->
						<template if:true={error}>
							{error}>
						</template>
					</div>
				</div>
				<!-- Modal/Popup Box LWC footer starts here -->
				<footer class="slds-modal__footer">
					<div class="slds-grid slds-wrap">
						<div class="slds-col slds-size_1-of-12">
							<button class="slds-button slds-button_neutral" onclick={backModal} title="Back">Back</button>
						</div>
						<div class="slds-col slds-size_9-of-12">
						</div>
						<div class="slds-col slds-size_1-of-12">
							<button class="slds-button slds-button_neutral" onclick={closeModal2} title="Cancel">Cancel</button>
						</div>

						<div class="slds-col slds-size_1-of-12">
							<template if:true={nextFlag}>
								<button class="slds-button slds-button_brand" onclick={insertQuoteItem} title="Next">Next</button>
							</template>
						</div>
					</div>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>



	<template if:true={isModalOpen3}>
		<!-- Modal/Popup Box LWC starts here -->
		<section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_large"
			aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
			<div class="slds-modal__container">

				<!-- Modal/Popup Box LWC header here -->
				<header class="slds-modal__header">
					<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
					<h2 id="modal-heading-69" class="slds-text-heading_medium slds-hyphenate">Add Products</h2>
					<h5 class="slds-text-body_small">Price Book: Standard Price Book</h5>
				</header>
				<!-- Modal/Popup Box LWC body starts here -->
				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-69">
					<div class="slds-m-around_medium">
						<lightning-input type="search" onchange={handleKeyChange} class="slds-m-bottom_small" label=""
							placeholder="Search Products...">
						</lightning-input>
						<template if:true={warningflag}>
							<div class="warning">
								You can add only 50 items at a time. To add more, first finish up with these items.
							</div>
						</template>
						<a onclick={backToResults}> Back to Results</a>
						<template if:true={contacts}>
							<div style="height: 300px;">
								<lightning-datatable key-field="Id" data={contacts} onclick={visibleNext}
									columns={columns}>
								</lightning-datatable>
							</div>
						</template>
						<template if:true={error}>
							{error}>
						</template>
					</div>
				</div>
				<!-- Modal/Popup Box LWC footer starts here -->
				<footer class="slds-modal__footer">
					<button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
					<template if:true={nextFlag}>
						<button class="slds-button slds-button_brand" onclick={getSelectedRec} title="Next">Next</button>
					</template>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>

</template>