.dummy{
	color : black;
}
.classText{
	font-size: 20px;
    font-family: monospace;
}





/* {
 // margin: 0px;
 // padding: 0px;
}*/

.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 42%;
  border: 3px solid rgb(245, 245, 245);
  border-radius: 100px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}

.background {
  background: black;
  animation-name: example;
  animation-duration: 4s;
}

.nav-list {
  width: 70%;
  display: flex;
  align-items: center;
}

.nav-list li {
  list-style: none;
  padding: 31px 34px;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}

.nav-list li a:hover {
  color: black;
  background-color: rgb(255, 255, 255);
}

.rightnav {
  /* background-color: blue; */
  width: 35%;
  text-align: right;
  padding: 0 23px;
}




.btn {
  padding: 8px 20px;
  margin: 7px 6px;
  border: 2px solid white;
  border-radius: 50px;
  background: none;
  color: white;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  text-decoration: none;
  list-style: none;
  color: rgb(0, 0, 0);
  background-color: rgb(183, 192, 190);
}

.btn-dark {
  color: black;
  border: 2px solid black;
}

.classText{
   background: black;
   color: white;
}
.modalClass{
--slds-c-modal-content-color-background:black;
--slds-c-modal-content-text-color:white;
--slds-c-modal-color-border:white;
--slds-c-modal-header-color-background:black;
--slds-c-modal-header-text-color:white;
}
h1{
	    color: white;
    font-size: 173%;
    text-align: center;
    background-color: black;
    animation-name: example;
  animation-duration: 4s;
}
.SummaryTextClass
{
  font-size: 57%;
}

.mainNav{
  background-color: black;
  color: white;
}
.modalClass{
--slds-c-modal-content-color-background:black;
--slds-c-modal-content-text-color:white;
--slds-c-modal-color-border:white;
--slds-c-modal-header-color-background:black;
--slds-c-modal-header-text-color:white;
--slds-c-icon-color-foreground:white;
}
.searchBarClass{
  padding: 10px 15px;
    border-radius: 20px;
}
.ModalHeader{
  color: white;
}
.MovieSearchClass{
  background-color: black;
  animation-name: example;
  animation-duration: 4s;
}
.TopOopsClass{
     position: absolute;
    right: 27%;
    top: 12%;
    font-size: 300%;
    color: white;  
        font-family: cursive; 
}
.OopsClass{
 position: relative;
 font-size: clamp(2rem, 2.8vw, 5rem);
  font-family: Raleway;
  font-weight: bold;
}

.slds-select
{
  background-color: black;
  color: white;
  border-color: black;
  font-size: 105%;
  --slds-c-select-radius-border:20%;
  animation-name: example;
  animation-duration: 4s;
}

@media all and (max-width: 900px) {

  .logo {
       width: 16% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}
 .logo img {
          width: 98% !important;
    border: 3px solid rgb(245, 245, 245) !important;
    border-radius: 100px !important;
}
.nav-list li {
  
        list-style: none;
    padding: 0px 2px;
    font-size: 10px;
    font-family: "Ubuntu", sans-serif;
}
h1{
	    color: white;
    font-size: 60%;
    text-align: center;
    background-color: black;
    animation-name: example;
  animation-duration: 4s;
}
 .searchBarClass{
 
    border-radius: 20px;
    max-width:60px;
    padding: 0;
}
.btn {
  
  border: 2px solid white;
  border-radius: 50px;
  background: none;
  color: white;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  padding: 0;
}
.HomeClassBox{
  width: 50%;
  border: none !important;
}


.rightnav {
  /* background-color: blue; */
  width: 35%;
  text-align: right;
  padding: 0 23px;
  display: contents;
}
  }


@keyframes example {
  0%   {background-color: gray;}
  25%  {background-color: rgb(80, 80, 18);}
  50%  {background-color: rgb(15, 15, 68);}
  100% {background-color: black;}
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
 animation-name: x;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all;
}
.card img {
  width: 100%;
}
.info h4{
  color: white;
  padding: 0 10px;
}

@keyframes x {
  0% {transform: rotateY(0deg) skewX(0deg);}
  25% {transform: rotateY(-30deg) skewX(-4deg);}
  50% {transform: rotateY(0deg) skewX(0deg);}
  75% {transform: rotateY(30deg) skewX(4deg);}
  100% {transform: rotateY(0deg) skewX(0deg);}
}

.TopMain{
  background-color: black;
}
/* .THIS {
}


.THIS.slds-box {
  border: none !important;
} */

.HomeClassBox{
  border: none !important;
}

.typewriter {

  margin-top: -11%;
  margin-left: 42%;
	
  color: white;
	overflow: hidden;
	border-right: 4px solid #212121;
	animation: cursor 1s step-start infinite, 
    text 5s steps(18) alternate infinite;
}

@keyframes cursor {
	0%, 100% { 
    border-color: white; 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
	100% { 
    width: 21.5ch; 
  }
}