<template>
	<div class="TopMain">
	<template if:true={isModalOpen}>
		<div class="modalClass">
			<!-- Modal/Popup Box LWC starts here -->
			<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
				aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
				<div class="slds-modal__container">
					<!-- Modal/Popup Box LWC header here -->
					<header class="slds-modal__header">
						<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
						<h2 id="modal-heading-01" class="ModalHeader slds-text-heading_medium slds-hyphenate">
							{downloadMovieName}
						</h2>
					</header>
					<!-- Modal/Popup Box LWC body starts here -->
					<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">

						<div class="slds-grid slds-wrap">
							<div class="slds-size_4-of-12 slds-col">
								<img src={downloadMovieImage}>
					</div>
								<div class="slds-col slds-m-left_medium">
									<!--	<p> Movie:- {downloadMovieName} </p> -->
									<p> Year:- {downloadMovieYear} </p>
									<p> Rating:- {downloadMovieRating}
										<img src={imbdSymbol}></p>
										<p> Runtime:- {downloadMovieRuntime} min</p>
										<!--	<p> Summary:- {downloadMovieSummary} </p> -->
										<p> Language:- {downloadMovieLanguage} </p>

										<p> Quality:- {downloadMovieQuality} </p>
										<p> Seeds:- {downloadMovieSeeds} </p>
										<p> Peers:- {downloadMoviePeers} </p>
										<p> Size:- {downloadMovieSize} </p>
										<p> Uploaded Date:-</br> {downloadMovieDateUploaded} </p>
										<a href={downloadMovieUrl} download={downloadMovieUrl}>
											<lightning-button variant="brand" label="Download" title="Download">
											</lightning-button>
										</a>
								</div>

							</div>
						</div>
					</div>
			</section>
			<div class="slds-backdrop slds-backdrop_open"></div>
		</div>
	</template>


	<!--------------------------------------Navigation Bar start----------------------------------------------------------------------->

	<nav class="navbar background h-nav-resp">
		<ul class="nav-list v-class-resp">
			<div class="logo" onclick={homeFunction}><img src={logo} alt="logo"></div>
				<li><a onclick={homeFunction}>Home</a></li>
				<li> <a onclick={movieClick}>Top Downloads</a></li>
				<!--	<li><a onclick={threeDmovieClick}>3D Movies</a></li> -->
				<li>
					<select class="slds-select"  name = "hello" onchange={qualityChange}>
						<option>Movies Quality</option>
        <option value="360p">360 p Movies</option>
        <option value="480p">480 p Movies</option>
		<option value="720p">720 p Movies</option>
		<option value="1080p">1080 p Movies</option>
		<option value="2160p">2160 p Movies</option>
		<option value="3D">3D Movies</a></option>
    </select>
				</li>
		</ul>




		<div class="rightnav v-class-resp">
			<input class="searchBarClass" type="text" name="search" id="search" placeholder="Search" onchange={textSearchFun} value={searchMovieVar} onkeypress={searchFunMovie1}>
			<button class="btn btn-sm" onclick={searchFunMovie} >Search</button>
		</div>
	</nav>

	<!--------------------------------------Navigation Bar End----------------------------------------------------------------------->

	<!-- <div class="slds-box slds-grid slds-wrap mainNav">
		<div class="navClass slds-m-right_xx-large slds-box slds-size_1-of-12">
			<img src={logo} alt="logo">
			</div>
			<div class="navClass slds-m-top_large slds-m-left_xx-large slds-m-right_xx-large">
				<h1 onclick={homeFunction}>HOME</h1>
			</div>
			<div class="navClass slds-m-top_large slds-m-left_xx-large slds-m-right_xx-large">
				<h1 href="About.html">About</h1>
			</div>
			<div class="navClass slds-m-top_large slds-m-left_xx-large slds-m-right_xx-large">
				<h1 onclick={movieClick}>Top Seeds</h1>
			</div>
			<div class="navClass slds-m-top_large slds-m-left_xx-large slds-m-right_xx-large">
				<h1 onclick={threeDmovieClick}>3D Movies</h1>
			</div>
		<div class="navClass slds-m-top_large slds-m-left_xx-large">
			<input type="text" name="search" id="search" placeholder="Search" onchange={textSearchFun} value={searchMovieVar}>
		</div>
		<div class="navClass slds-m-top_large slds-m-left_small slds-m-right_xx-large slds-box" onclick={searchFunMovie}>
			Search
		</div>
	</div> -->







	<!--------------------------------------top seed page Start----------------------------------------------------------------------->

	<template if:true={topSeedFlag}>
		<div class="slds-grid slds-wrap">
			<template for:each={dataVar} for:item="object" for:index="index">
				<div key={object.movieImage} class="slds-col slds-size_3-of-12 HomeClassBox">
					<img key={object.index} src={object.movieImage} data-item={object.movieImage} onclick={movieDownloadClick}>
			</div>
			</template>
		</div>
	</template>
	<!--------------------------------------top seed page End----------------------------------------------------------------------->



	<!--	<template if:true={topSeedFlag}>
		<template for:each={dataVar} for:item="object" for:index="index">
			<div class="slds-card slds-size_2-of-2" key={object.movieImage}>
				<div class="slds-grid"> 
					<div class="classImage slds-box slds-size_2-of-8" key={object.movieImage}> 
						<img key={object.movieImage} src={object.movieImage}> 
						<img key={object.index} src={object.movieImage} data-item={object.movieImage} onclick={movieDownloadClick}> -->

	<!--      </div>
						<div class="classText">
							<p key={object.movieName}> MOVIE:- {object.movieName} </p>
							<p key={object.movieYear}> YEAR:- {object.movieYear} </p>
							<p key={object.movieRating}> IMDB RATING:- {object.movieRating} </p>
							<p key={object.movieRuntime}> RUNTIME:-{object.movieRuntime} min</p>
							<p key={object.movieSummary}> SUMMARY:- {object.movieSummary} </p>
							<p key={object.movieLanguage}> LANGUAGE:- {object.movieLanguage} </p>


							<p key={object.movieQuality}> QUALITY:- {object.movieQuality} </p>

							<p key={object.movieSeeds}> SEEDS:- {object.movieSeeds} </p>
							<p key={object.moviePeers}> PEERS:-{object.moviePeers} </p>
							<p key={object.movieSize}> SIZE:- {object.movieSize} </p>
							<p key={object.movieDateUploaded}> UPLOADED DATE:- {object.movieDateUploaded} </p>
							<a href={object.movieUrl} download={object.movieName}>
								<lightning-button variant="brand" label="Download" title="Download"></lightning-button>
							</a>   


						</div> 
					</div>
				</div>
		</template>
	</template> -->

	<!--------------------------------------3D movie page Page----------------------------------------------------------------------->
	<!--	<template if:true={threeDFlag}>
		<template for:each={dataVar2} for:item="object">
			<div class="slds-card slds-size_2-of-2" key={object.movieImage}>
				<div class="slds-grid">
					<div class="classImage slds-box slds-size_2-of-8">
						<img key={object.movieImage} src={object.movieImage}>
                        </div>
						<div class="classText">
							<p key={object.movieName}> MOVIE:- {object.movieName} </p>
							<p key={object.movieYear}> YEAR:- {object.movieYear} </p>
							<p key={object.movieRating}> IMDB RATING:- {object.movieRating} </p>
							<p key={object.movieRuntime}> RUNTIME:-{object.movieRuntime} min</p>
							<p class="SummaryTextClass" key={object.movieSummary}> SUMMARY:- {object.movieSummary} </p>
							<p key={object.movieLanguage}> LANGUAGE:- {object.movieLanguage} </p>


							<p key={object.movieQuality}> QUALITY:- {object.movieQuality} </p>

							<p key={object.movieSeeds}> SEEDS:- {object.movieSeeds} </p>
							<p key={object.moviePeers}> PEERS:-{object.moviePeers} </p>
							<p key={object.movieSize}> SIZE:- {object.movieSize} </p>
							<p key={object.movieDateUploaded}> UPLOADED DATE:- {object.movieDateUploaded} </p>
							<a href={object.movieUrl} download={object.movieName}>
								<lightning-button variant="brand" label="Download" title="Download"></lightning-button>
							</a>


						</div>
					</div>
				</div>
		</template>
	</template> -->

	<!--------------------------------------3D movie page End----------------------------------------------------------------------->
	<!---------------------------------------------------------------------------------------------------------------------------------->
	<template if:true={threeDFlag}>
		<div class="slds-grid slds-wrap">
			<template for:each={dataVar2} for:item="object" for:index="index">
				<div key={object.movieImage} class="slds-col slds-size_3-of-12 HomeClassBox">
					<img key={object.index} src={object.movieImage} data-item={object.movieImage} onclick={movieDownloadClick}>
			</div>
			</template>
		</div>
	</template>
	<!---------------------------------------------------------------------------------------------------------------------------------->

	<!--------------------------------------Movie Search page Start----------------------------------------------------------------------->
	<!--	<template if:true={movieSearchFlag}>
		<template for:each={dataVar3} for:item="object">
			<div class="slds-card slds-size_2-of-2" key={object.movieImage}>
				<div class="slds-grid">
					<div class="classImage slds-box slds-size_2-of-8">
						<img key={object.movieImage} src={object.movieImage}>
                        </div>
						<div class="classText">
							<p key={object.movieName}> MOVIE:- {object.movieName} </p>
							<p key={object.movieYear}> YEAR:- {object.movieYear} </p>
							<p key={object.movieRating}> IMDB RATING:- {object.movieRating} </p>
							<p key={object.movieRuntime}> RUNTIME:-{object.movieRuntime} min</p>
							<p class="SummaryTextClass" key={object.movieSummary}> SUMMARY:- {object.movieSummary} </p>
							<p key={object.movieLanguage}> LANGUAGE:- {object.movieLanguage} </p>


							<p key={object.movieQuality}> QUALITY:- {object.movieQuality} </p>

							<p key={object.movieSeeds}> SEEDS:- {object.movieSeeds} </p>
							<p key={object.moviePeers}> PEERS:-{object.moviePeers} </p>
							<p key={object.movieSize}> SIZE:- {object.movieSize} </p>
							<p key={object.movieDateUploaded}> UPLOADED DATE:- {object.movieDateUploaded} </p>
							<a href={object.movieUrl} download={object.movieName}>
								<lightning-button variant="brand" label="Download" title="Download"></lightning-button>
							</a>


						</div>
					</div>
				</div>
		</template>
	</template> -->
	<!--------------------------------------Movie Search page End----------------------------------------------------------------------->
	<template if:true={movieSearchFlag}>
		<div class="slds-grid slds-wrap MovieSearchClass">
			<template for:each={dataVar3} for:item="object" for:index="index">
				<div key={object.movieImage} class="slds-col slds-size_3-of-12 HomeClassBox">
					<img key={object.index} src={object.movieImage} data-item={object.movieImage} onclick={movieDownloadClick}>
			</div>
			</template>
		</div>
	</template>
	<!--------------------------------------Movie Home page Start----------------------------------------------------------------------->

	<template if:true={homePageFlag}>
		<div class="slds-grid slds-wrap">

			<div class="slds-box slds-size_1-of-4 HomeClassBox">
				<div class="wrap">
					<div class="card">
						<h1> ACTION </h1>

						<img src={actionPoster} onclick={selectGenreFun} data-item="action">
								</div>
					</div>
				</div>
				<div class="slds-box slds-size_1-of-4 HomeClassBox">
					<div class="wrap">
						<div class="card">
							<h1> COMEDY </h1>
							<img src={comedyPoster} onclick={selectGenreFun} data-item="comedy">
								</div>
						</div>
					</div>
					<div class="slds-box slds-size_1-of-4 HomeClassBox">
						<div class="wrap">
							<div class="card">
								<h1> THRILLER </h1>
								<img src={thrillerPoster} onclick={selectGenreFun} data-item="thriller">
    </div>
							</div>
						</div>
						<div class="slds-box slds-size_1-of-4 HomeClassBox">
							<div class="wrap">
								<div class="card">
									<h1> CRIME </h1>
									<img src={crimePoster} onclick={selectGenreFun} data-item="crime">
    </div>
								</div>
							</div>
							<div class="slds-box slds-size_1-of-4 HomeClassBox">
								<div class="wrap">
									<div class="card">
										<h1> BIOGRAPHY </h1>
										<img src={biographyPoster} onclick={selectGenreFun} data-item="biography">
    </div>
									</div>
								</div>
								<div class="slds-box slds-size_1-of-4 HomeClassBox">
									<div class="wrap">
										<div class="card">
											<h1> DRAMA </h1>
											<img src={dramaPoster} onclick={selectGenreFun} data-item="drama">
    </div>
										</div>
									</div>
									<div class="slds-box slds-size_1-of-4 HomeClassBox">
										<div class="wrap">
											<div class="card">
												<h1> HORROR </h1>
												<img src={horrorPoster} onclick={selectGenreFun} data-item="horror">
    </div>
											</div>
										</div>
										<div class="slds-box slds-size_1-of-4 HomeClassBox">
											<div class="wrap">
												<div class="card">
													<h1> SCI-FI </h1>
													<img src={scifiPoster} onclick={selectGenreFun} data-item="Sci-Fi">
    </div>
												</div>
											</div>
											<div class="slds-box slds-size_1-of-4 HomeClassBox">
												<div class="wrap">
													<div class="card">
														<h1> ADVENTURE </h1>
														<img src={adventurePoster} onclick={selectGenreFun} data-item="adventure">
    </div>
													</div>
												</div>
												<div class="slds-box slds-size_1-of-4 HomeClassBox">
													<div class="wrap">
														<div class="card">
															<h1> ROMANCE </h1>
															<img src={romancePoster} onclick={selectGenreFun} data-item="romance">
    </div>
														</div>
													</div>
													<div class="slds-box slds-size_1-of-4 HomeClassBox">
														<div class="wrap">
															<div class="card">
																<h1> FANTASY </h1>
																<img src={fantasyPoster} onclick={selectGenreFun} data-item="fantasy">
    </div>
															</div>
														</div>
														<div class="slds-box slds-size_1-of-4 HomeClassBox">
															<div class="wrap">
																<div class="card">
																	<h1> WESTERN </h1>
																	<img src={westernPoster} onclick={selectGenreFun} data-item="western">
														</div>
																</div>
															</div>
															<div class="slds-box slds-size_1-of-4 HomeClassBox">
																<div class="wrap">
																	<div class="card">
																		<h1> Animated </h1>
																		<img src={animatedPoster} onclick={selectGenreFun} data-item="animation">
    </div>
																	</div>
																</div>
																<div class="slds-box slds-size_1-of-4 HomeClassBox">
																	<div class="wrap">
																		<div class="card">
																			<h1> Mystery </h1>
																			<img src={mysteryPoster} onclick={selectGenreFun} data-item="mystery">
    </div>
																		</div>
																	</div>
																	<div class="slds-box slds-size_1-of-4 HomeClassBox">
																		<div class="wrap">
																			<div class="card">
																				<h1> Music </h1>
																				<img src={musicPoster} onclick={selectGenreFun} data-item="music">
    </div>
																			</div>
																		</div>



																	</div>


	</template>
	<!--------------------------------------Movie Home page End----------------------------------------------------------------------->

	<template if:true={genreFlag}>
		<div class="slds-grid slds-wrap MovieSearchClass">
			<template for:each={dataVar4} for:item="object" for:index="index">
				<div key={object.movieImage} class="slds-col slds-size_3-of-12 HomeClassBox">
					<img key={object.index} src={object.movieImage} data-item={object.movieImage} onclick={movieDownloadClick}>
			</div>
			</template>
		</div>
	</template>


	<template if:true={oopsModal}>
		<div class="OopsClass">
			<img src={oopsSymbol}>
			<!-- <div class="TopOopsClass"><b>Oops Something Went Wrong</b></div> -->
  <div class="typewriter">Oops Something Went Wrong!!</div>
</div>
	
	</template>
	</div>
</template>