<template>
	<div class="pane">
		<div class="title">Resize, Drag or Snap Me!</div>
	</div>
	<div class="ghostpane"></div>
    <lightning-button variant="brand" label="checkButton" title="titleName" onclick={handleClick}></lightning-button>
</template>