body {
	overflow: hidden;
}

.pane {
	position: absolute;
	width: 45%;
	height: 45%;
	top: 20%;
	left: 20%;
	
	
	margin: 0;
	padding: 0;
	z-index: 99;
	border: 2px solid purple;
	background: blue;
}

.title {
	font-family: monospace;
	background: red;
	color: white;
	font-size: 24px;
	height: 30px;
	text-align: center;
}

.ghostpane {
	background: green;
	opacity: 0.2;

	width: 45%;
	height: 45%;
	top: 20%;
	left: 20%;
	
	position: absolute;
	margin: 0;
	padding: 0;
	z-index: 98;

	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}