.outLineTextColorRangerGreen{
	background-color: #4E4934;
	height: 20px;
	width: 20px;
	  border-radius: 50px / 50px;
}
.outLineTextColorNavyBlue{
	background-color: #494c6b;
	height: 20px;
	width: 20px;
	border-radius: 50px / 50px;
}
.outLineTextColorBattleshipGray{
	background-color: #6f7476;
	height: 20px;
	width: 20px;
	border-radius: 50px / 50px;
}
.outLineTextColorBlackCovertIRCovert{
	background-color: #000000;
	height: 20px;
	width: 20px;
	border-radius: 50px / 50px;
}
.subhash{
	height: 100px;
	width: 100px;
	background-color: blue;
}