<template>
	<lightning-button variant="brand" label="Show Random Image" title="What is Modal/PopUp in LWC?" onclick={openModal}
		class="slds-m-left_x-small">
	</lightning-button>

	<template if:true={isModalOpen}>

		<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
			aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_large">
			<div class="slds-modal__container">

				<header class="slds-modal__header">
					<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
					<h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Press next for new Image
					</h2>
				</header>

				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
					<div class="slds-grid slds-gutters">
						<div class="slds-box slds-size_1-of-4">
							<a href={imageUrl} download>
								<img src={imageUrl}/>
							</a>
						</div>
						<div class="slds-box slds-size_1-of-4">
							<a href={imageUrl2} download>
								<img src={imageUrl2}/>
								</a>
						</div>
						<div class="slds-box slds-size_1-of-4">
							<a href={imageUrl3} download>
								<img src={imageUrl3}/>
									</a>
						</div>
						<div class="slds-box slds-size_1-of-4">
							<a href={imageUrl4} download>
								<img src={imageUrl4}/>
										</a>
						</div>
					</div>
				</div>

				<footer class="slds-modal__footer">
					<button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
					<button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">Next</button>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>
</template>