<template>
	<div class="slds-grid slds-gutters">
		<lightning-button variant="brand" label="ClickSuperHero" title="titleName" onclick={superClick}>
		</lightning-button>
		<div class="slds-size_1-of-4">
			<div class="slds-card slds-card_x-small slds-text-align_center slds-m-around_x-small"><b>Super Heros</b>
				<lightning-carousel>
					<template for:each={arraydata} for:item="object">
						<lightning-carousel-image key={object.imageList} src={object.imageList} header={object.nameList}
							description={object.publisherList}>
						</lightning-carousel-image>
					</template>
				</lightning-carousel>
			</div>
		</div>

		<lightning-button variant="brand" label="ClickVillian" title="titleName" onclick={villianClick}>
		</lightning-button>
		<div class="slds-size_1-of-4">
			<div class="slds-card slds-card_x-small slds-text-align_center slds-m-around_x-small"><b>Super Villians</b>
				<lightning-carousel>
					<template for:each={villiandata} for:item="object">
						<lightning-carousel-image key={object.imageList} src={object.imageList} header={object.nameList}
							description={object.publisherList}>
						</lightning-carousel-image>
					</template>
				</lightning-carousel>
			</div>
		</div>
	</div>
	<div class="slds-size_1-of-5 slds-align_absolute-center" style="font-size: 150%">
		<lightning-card variant="Narrow" style="font-family: Cursive" title="Super-Hero Guide"
			icon-name="standard:account">

			<lightning-input type="text" variant="standard" name="nameHero" label="Search Hero"
				placeholder="type hero name..." value={heroName} onchange={heroOnChange}></lightning-input>

			<div class="slds-align_absolute-center slds-m-top_medium">
				<lightning-button variant="brand" label="SEARCH" title="titleName" onclick={heroSearchClick}>
				</lightning-button>
			</div>
		</lightning-card>
	</div>

	<!--Use template if:true to display/hide popup based on isModalOpen value-->
	<template if:true={isModalOpen}>
		<!-- Modal/Popup Box LWC starts here -->
		<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
			aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
			<div class="slds-modal__container">
				<!-- Modal/Popup Box LWC header here -->
				<header class="slds-modal__header">
					<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
					<h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate"><b>{finalHeroName}</b>
					</h2>
				</header>
				<!-- Modal/Popup Box LWC body starts here -->
				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
					<div class="slds-grid slds-gutters">
						<div class="slds-box slds-size_1-of-3">
							<!-- <img src={finalHeroImage}> -->
							<!-- 
								before
							 -->
							<div class="wrap">
								<div class="card">
									<img src={finalHeroImage}>

</div>

								</div>
								<!-- 
								 after
							  -->
							</div>
							<div class="slds-box slds-size_1-of-3">
								<b>Powerstats</b>
								<br>
					Intelligence: {finalintelligence}
								<br>
					Strength: {finalstrength}
								<br>
					Speed: {finalspeed}
								<br>
					Durability: {finaldurability}
								<br>
					Power: {finalpower}
								<br>
					Combat: {finalcombat}
						</div>
								<div class="slds-box slds-size_1-of-3">
									<b>Biography</b>
									<br>
					Place of birth: {finalplaceOfBirth}
									<br>
					First Appearance: {finalfirstAppearance}
									<br>
					Publisher: {finalpublisher}
						</div>
								</div>
								<div class="slds-box slds-size_1-of-1">
									<b>Work</b>
									<br>
					Occupation: {finaloccupation}
						</div>

								</div>
								<!-- Modal/Popup Box LWC footer starts here -->
								<footer class="slds-modal__footer">
									<button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
									<button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">OK</button>
								</footer>
							</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>


</template>